# ./sideProjects/robotQuest 파일 제외
/sideProjects/robotQuest/robot_1.py
/sideProjects/robotQuest/robot_2.py
/sideProjects/robotQuest/robot_3.py
/sideProjects/robotQuest/robot_4.py
/sideProjects/robotQuest/robot_5.py
/sideProjects/robotQuest/robot_6.py
/sideProjects/robotQuest/robot_7.py
/sideProjects/robotQuest/robot_8.py
/sideProjects/robotQuest/robot_9.py
/sideProjects/robotQuest/robot_10.py
/sideProjects/robotQuest/robot_11.py
/sideProjects/robotQuest/robot_12.py
/sideProjects/robotQuest/robot_13.py
/sideProjects/robotQuest/robot_14.py
/sideProjects/robotQuest/robot_15.py
/sideProjects/robotQuest/robot_16.py
/sideProjects/robotQuest/robot_17.py
/sideProjects/robotQuest/robot_18.py
/sideProjects/robotQuest/robot_19.py
/sideProjects/robotQuest/robot_level1.py
/sideProjects/robotQuest/robot_level2.py

# ./sideProjects/cherryPicker 파일 제외
/sideProjects/cherryPicker/cherrypicker.py

# ./sideProjects/cherryPicker 파일 제외
/sideProjects/protectUs!AnimalCrossing/protectUS_AnimalCrossing.js